include README.rst
include LICENSE
include requirements.txt
include tox.ini
include start.py
recursive-include tests *.py
recursive-include minecraft *.py
recursive-include docs *.rst
include docs/Makefile
include docs/make.bat
include docs/conf.py
